<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - HC</title>
    <!-- stylesheet links-->
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7869512adc.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header with nav bar -->
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo">
                <img src="../resources/images/logo-3.png" alt="" class="logopoto">
                <h2 class="companyName">Hotel Colomba</h2>
            </div>
            
            <ul class="links">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="./facility.html">FACILITIES</a></li>
                <li><a href="./offers.html">OFFERS</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
    </header>
    
    <!--  page content  -->
    <div class="container">
        <div class="contain">
            <h1>Contact Us</h1>
            <p>Any question or remarks? Just write us a message!</p>
            <div class="contactbox">
                <div class="contact-right">
                    <h2>Contact Information</h2>
                    <p>Fill up the form and our Team will get back to you within 24 hours.</p>
                        <table>
                            <tr>
                                <td><i class="fa-solid fa-envelope"></i></td>
                                <td>info@colombahotel.lk</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-phone"></i></td>
                                <td>+94 - 123456789</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-location-dot"></i></td>
                                <td>NO.23,<br>Kinsey Road<br>
                                    COLOMBO,<br>SRI-LANKA.
                                </td>
                            </tr>
                        </table>
                        <div class="social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                        

    
                </div>
                <div class="contact-left">
                    <h3>Sent Your Massage</h3>
                    <form name="myform" method="post" onsubmit="return validateform()">
                        <div class="input-row">
                            <div class="input-group">
                                <label>name</label>
                                <input type="text" name="name" placeholder="jon snow" >
                            </div>
                            <div class="input-group">
                                <label>phone</label>
                                <input type="text" name="tel" placeholder="+94112-678-578">
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label>E-Mail</label>
                                <input id="email" type="text" name="email" placeholder="jon snow@got.com" required>
                            </div>
                            <div class="input-group">
                                <label>product</label>
                                <input type="text">
                            </div>
                        </div>
                        <label>Massage</label>
                        <textarea rows="5" placeholder="Your Message"></textarea>
                        <div class="buttons">
                            <div class="menu">
                                <button type="reset">Reset</button>
                            </div>
                            <div class="submit">
                                <button type="submit">Send</button>
                            </div>
                            
                            
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <!-- footer -->
    <Footer>
        <div class="footerrow">
            <div class="footercol">
                <img src="../resources/images/logo-3.png" alt="" class="footerlogo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ipsam nisi pariatur perspiciatis, voluptatibus vero ad reprehenderit blanditiis labore facilis. Provident, necessitatibus explicabo. Distinctio illo natus, ab repellat optio nemo.</p>
            </div>
            <div class="footercol">
                <h3>office <div class="underline"><span></span></div> </h3>
                <p>Kinsey Road</p>
                <p>Colombo, Sri Lanka</p>
                <p class="email-id">info@colombahotel.lk</p>  
                <h4>+94 - 123456789</h4> 
            </div>
            <div class="footercol">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="./views/facility.html">FACILITIES</a></li>
                    <li><a href="./views/offers.html">OFFERS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="footercol">
                <h3>Newsletter <div class="underline"><span></span></div></h3>
                <form action="" name="footerform">
                    <i class="far fa-regular fa-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit" class="footer-btn"><i class="fas fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">Colomba Hotels &copy 2023 - All Rights Reserved.</p>
    </Footer>
    
    <!-- =========== js files ================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="./resources/js/script.js"></script>
</body>
</html>