<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities - HC</title>
    <!-- stylesheet links-->
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/facilitystyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7869512adc.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header with nav bar -->
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo">
                <img src="../resources/images/logo-3.png" alt="" class="logopoto">
                <h2 class="companyName">Hotel Colomba</h2>
            </div>
            
            <ul class="links">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="#">FACILITIES</a></li>
                <li><a href="./offers.html">OFFERS</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
    </header>
    
    <!--  page content  -->
    <section class="home" id="home">
        <div class="head_container">
          <div class="box">
            <div class="text">
              <h1>Hello.Salut.Hola</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <button class="btn-bt">MORE INFO</button>
            </div>
          </div>
          <div class="image">
            <img src="../resources/images/home1.jpg" class="slide">
          </div>
    
        </div>
      </section>
    
      <section class="book">
        <div class="container flex">
          <div class="input grid">
            <div class="box">
              <label>Check-in:</label>
              <input type="date" placeholder="Check-in-Date">
            </div>
            <div class="box">
              <label>Check-out:</label>
              <input type="date" placeholder="Check-out-Date">
            </div>
            <div class="box">
              <label>Adults:</label> <br>
              <input type="number" placeholder="0">
            </div>
            <div class="box">
              <label>Children:</label> <br>
              <input type="number" placeholder="0">
            </div>
          </div>
          <div class="search">
            <input type="submit" value="SEARCH">
          </div>
        </div>
      </section>
    
      <section class="wrapper top">
        <div class="containerwrap">
          <div class="text">
            <h2>Our Amenities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
            <div class="content">
              <div class="box flex">
                <i class="fas fa-swimming-pool"></i>
                <span>Swimming pool</span>
              </div>
              <div class="box flex">
                <i class="fas fa-dumbbell"></i>
                <span>Gym & yogo</span>
              </div>
              <div class="box flex">
                <i class="fas fa-spa"></i>
                <span>Spa & massage</span>
              </div>
              <div class="box flex">
                <i class="fas fa-ship"></i>
                <span>Boat Tours</span>
              </div>
              <div class="box flex">
                <i class="fas fa-swimmer"></i>
                <span>Surfing Lessons</span>
              </div>
              <div class="box flex">
                <i class="fas fa-microphone"></i>
                <span>Conference room</span>
              </div>
              <div class="box flex">
                <i class="fas fa-water"></i>
                <span>Diving & smorking</span>
              </div>
              <div class="box flex">
                <i class="fas fa-umbrella-beach"></i>
                <span>Private Beach</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="room top" id="room">
        <div class="container">
          <div class="heading_top flex1">
            <div class="heading">
              <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
              <h2>Rooms $ Suites</h2>
            </div>
            <div class="btn-bt button">
              <button class="btn1">VIEW ALL</button>
            </div>
          </div>
    
          <div class="content grid">
            <div class="box">
              <div class="img">
                <img src="../resources/images/r1.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="../resources/images/r2.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="../resources/images/r3.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
    
      <section class="restaurant top" id="restaurant">
        <div class="container flex">
          <div class="left">
            <img src="../resources/images/re.jpg" alt="">
          </div>
          <div class="right">
            <div class="text">
              <h2>Our Restaurant</h2>
              <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="accordionWrapper">
              <div class="accordionItem">
                <h2 class="accordionIHeading">Italian Kitchen</h2>
                
              </div>
              <div class="accordionItem">
                <h2 class="accordionIHeading">Mexican Kitchen</h2>
                
              </div>
              <div class="accordionItem">
                <h2 class="accordionIHeading">Italian Kitchen</h2>
                
              </div>
              <div class="accordionItem">
                <h2 class="accordionIHeading">Mexican Kitchen</h2>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    
    <!-- footer -->
    <Footer>
        <div class="footerrow">
            <div class="footercol">
                <img src="../resources/images/logo-3.png" alt="" class="footerlogo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ipsam nisi pariatur perspiciatis, voluptatibus vero ad reprehenderit blanditiis labore facilis. Provident, necessitatibus explicabo. Distinctio illo natus, ab repellat optio nemo.</p>
            </div>
            <div class="footercol">
                <h3>office <div class="underline"><span></span></div> </h3>
                <p>Kinsey Road</p>
                <p>Colombo, Sri Lanka</p>
                <p class="email-id">info@colombahotel.lk</p>  
                <h4>+94 - 123456789</h4> 
            </div>
            <div class="footercol">
                <h3>Links <div class="underline"><span></span></div></h3>
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                <li><a href="#">FACILITIES</a></li>
                <li><a href="./offers.html">OFFERS</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
                </ul>
            </div>
            <div class="footercol">
                <h3>Newsletter <div class="underline"><span></span></div></h3>
                <form action="" name="footerform">
                    <i class="far fa-regular fa-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit" class="footer-btn"><i class="fas fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy">Colomba Hotels &copy 2023 - All Rights Reserved.</p>
    </Footer>
    
    <!-- =========== js files ================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
    <script src="./resources/js/script.js"></script>
</body>
</html>